# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
*.env
.venv/

# Machine Learning & Data
models/
models 2/
data/
*.h5
*.pkl
*.pt
datasets/

# Node
node_modules/
dist/
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?